@model List<BookType>

@if (TempData["Success"] != null)
{
    <h2 style="color:red">@TempData["Success"]</h2>
}

<div class="container">
    <div class="row pt-3 pb-4">
    <div>
        <h1>Kitap Türleri</h1>
    </div> @* Buraya dikkat et belki divi yukarı taşırız *@
    </div>

    <table class="table table-bordered" style="width: 100%; border:2px solid #d8d8d8;">
        <thead>
            <tr>
                <th>Id</th>
                <th>Kitap Türü</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var bookType in Model)
            {
                <tr>
                    <td>@bookType.Id</td>
                    <td>@bookType.Name</td>
                    <td>
                        <a asp-controller="BookType" asp-action="BookUpdate" type="button" asp-route-id="@bookType.Id" class="btn btn-success" style="width:250px">Güncelle</a>
                    </td>
                    <td>
                        <a asp-controller="BookType" asp-action="BookDelete" type="button" asp-route-id="@bookType.Id" class="btn btn-danger" style="width:250px">Sil</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="row pt-3 pb-2">
        <div>
            <a asp-controller="BookType" asp-action="BookAdd" class="btn btn-lg btn-primary" type="button">
                Yeni Kitap Türü Oluştur
            </a>
        </div>
    </div>

</div>

